---
- name: IPython cluster Playbook
  hosts: ipython_controller:ipython_engine
  handlers:
    - include: common/handlers/main.yml
  roles:
    - { role: iptables, default_input_policy: 'ACCEPT' }
  tasks:
    - name: Install PIP and apt dependencies(Ubuntu)
      action: apt name={{item}}
      when: is_debian_or_ubuntu
      with_items:
        - build-essential
        - gfortran
        - python-pip
        - python-dev
        - python3-pip
        - python3-dev
        - libblas-dev
        - liblapack-dev
        - libzmq-dev
        # - libxml2-dev
        # - libxslt1-dev
        # - python-lxml
        # - python3-lxml
        # - cython
        # - cython3
      tags:
        - ipython

    - name: Install ZMQ for Python 3
      action: apt name={{item}}
      with_items:
        - libzmq3-dev
      when: is_debian_or_ubuntu
      tags:
        -ipython

    - name: Install PIP (CentOS)
      action: yum name={{item}}
      with_items:
        - gcc
        - gcc-c++
        - python-pip
        - python-devel
        - blas-devel
        - lapack-devel
      when: is_centos
      tags:
        - ipython

    - name: Update PIP
      action: pip name=pip
                extra_args='--upgrade'

    # Note: use_mirrors=yes (default) does not work with CentOS 6.3
    # Note: ipython[all] does not seem to work.
    - name: Install ipython and commonly used Python packages
      action: pip name={{item}}
      with_items:
        - ipython
        - ipython-cluster-helper
        - jupyter
        - feedparser
        # for now, we'll install our fork of arelle manually
        #- numpy
        #- scipy
      tags:
        - ipython

    - name: Fix for GCE CentOS images
      action: shell find /usr/lib/python2.6/site-packages -name  top_level.txt -exec chmod a+r {} \;
      ignore_errors: yes
      when: is_centos
      tags:
        - ipython

    - name: Install Python 3 Packages
      command: 'python3 -m pip install {{item}}'
      with_items:
        - ipython
        - ipython-cluster-helper
        - jupyter
        - ipykernel
        - ipyparallel
      tags:
        - ipython

- name: IPython controller Playbook (standard user operations)
  hosts: ipython_controller:ipython_engine
  become: False
  tasks:

    - name: create ipython profile
      action: shell ipython profile create --parallel creates=~/.ipython/profile_default
      tags:
        - ipython

    - name: Deploy ipcluster configuration file
      action: template src=ipython/templates/ipcluster_config.py.j2 dest=~/.ipython/profile_default/ipcluster_config.py
      tags: 
        - ipython

    - name: Deploy ipcontroller configuration file
      action: template src=ipython/templates/ipcontroller_config.py.j2 dest=~/.ipython/profile_default/ipcontroller_config.py
      tags: 
        - ipython

    - name: Create ipython cluster!
      action: shell ipcluster start
      when: 'inventory_hostname in groups["ipython_controller"]'
      # this always fails if the process is already running
      ignore_errors: yes
      tags: 
        - ipython

  handlers:
    - include: common/handlers/main.yml

- name: Set up simple Jupyter Notebook
  handlers:
    - include: common/handlers/main.yml
  hosts: ipython_controller
  become: False
  tasks:

    - name: Create Python 3 kernel
      command: 'python3 -m ipykernel install --user'
      tags:
        - ipython

    - name: Deploy self-signed cert for password authentication
      copy: src=~/elasticluster-config/mycert.pem dest=~/mycert.pem
      tags:
        - ipython

    - name: Make directory for Jupyter configuration file
      file: path=~/.jupyter state=directory
      tags:
        - ipython

    - name: Send Jupyter configuration file
      action: template src=~/elasticluster-config/jupyterconfig.py.j2 dest=~/.jupyter/jupyter_notebook_config.py
      tags:
        - ipython

    - name: Kill potential existing jupyter process
      command: pkill jupyter
      ignore_errors: yes
      tags:
        - ipython

    - name: Create notebook directory
      file: path=~/elasticluster state=directory
      ignore_errors: yes
      tags:
        - ipython

    - name: Start Jupyter Notebook
      command: jupyter notebook --config=~/.jupyter/jupyter_notebook_config.py
      async: 99999999999999999999999
      poll: 0
      tags:
        - ipython
